[defaults]
inventory = /root/inventory.txt
host_key_checking = false
command_warnings = false
deprecation_warnings = false
remote_user = ec2-user
ask_pass = false
private_key_file = /root/task12_2/aws_latest_key.pem

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false
